.loader-wrapper {
  width: 100%;
  height: 100%;
  position:fixed;
  top: 0;
  left: 0;
  background-color: #181818;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.outer-ring {
  position: absolute;
  left: calc(50% - 25px);
  height: 50px;
  width: 50px;
  background-image: linear-gradient(135deg, #FEED07 0%, #FE6A50 5%, #ED00AA 15%, #8900FF 100%);
  border-radius: 50%;
  opacity: 90%;
  /*  Rotate  */
  animation-duration: 2s;
  animation-name: rotate;
  animation-iteration-count: infinite;
}

.inner-ring {
  position: absolute;
  left: calc(50% - 22px);
  height: 45px;
  width: 45px;
  background-color: #181818;
  border-radius: 50%;
}


@keyframes rotate {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}

/* para mobil*/
@media only screen and (max-width: 767px) {
  body, html{
    overflow-x:unset;
  }
  #pointer-ring{
    visibility: hidden;
  }
  #pointer-dot {
    visibility: hidden;
  }
  input[type=text]{
    width: 100%;
  }
  #barra{
  left: 0px;
}
#contenido,#contenido_2,#contenido_3,#contenido_4,#contenido_5 {
  height: 100%;
}
#form_info,#formulario{
 width: 100%;
float: none;
}
#form_info h1{
  top: 55px;
	font-size: 30px;
}
.Pinfo_text{
  max-width: 85%;
}
.Pservicio_text{
  max-width: 90%;
}
.Pcorreo_text{
	top: 450px;		
}
/*#contenido{

 background-image: url(../img/mobil\ walpaper.png);
 background-repeat: no-repeat;
 background-size: auto 100%;
 background-position-y: 20px;
 background-position-x: 50%;

}*/

#logo{
  opacity:100%;
}

}


