body, html{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	background-color: #181818; /* color de fondo*/
	/*background-color: #121212;*/ /* color de barra*/
	/*overflow:   scroll;*/
	color: #FDFEFE;
	cursor: none;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
								  font-family: Roboto_Regular;
}
@font-face {
	font-family: Roboto_Black;
	src: url(../Roboto_Black.ttf);
  }
  @font-face {
	font-family: Roboto_Regular;
	src: url(../Roboto_Regular.ttf);
  }
::-webkit-scrollbar {
    display: none;

}
img{
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
#wraper{
	position: relative;
	height: 100%;
	width: 100%;
	background-color: #181818;

}

#barra{
	position:fixed;
	top: 0;
	margin-left: -72px;
	background-color: #121212;
	height: 100%;
	width: 70px;
	transition: 0.6s;
	z-index: 20;
	/*z-index:100;*/
}
.Botones_Barra{
	color:#FDFEFE;
	position:relative;
	 display: block;
	border-style: none;
	background-color: #121212;
	margin-top: 40px;
	height: 60px;
	width: 70px;
    cursor: none;
	outline: none;
	top: 2px;
    /*cursor: pointer;*/
}
.Botones_Barra:hover{
	background-color: #181818;
	color: black;
	transition: 5s;
}
.Botones_Barra:active{
 background-color: #181818;
}

.Botones_Barra img{
	height: 30px;
width: 30px;
}
/*#Proyectos {
background-image: url('ico/Proyectos.svg');
}*/
#logo{
	position: relative;
	top: -600px;
	left: 63px;
	background-color:transparent;
	border-style:none;
	margin-top: 20px;
	height: 100px;
	width: 100px;
	cursor: none;
    outline: none;
	transition: 0.3s;
	

	
}
#logo img{
height: 100px;
width: 100px;
}

#menu_out{
	position:relative;
	top: -475px;
	left: 63px;
	background-color:transparent;
	border-style:none;
	margin-top: 20px;
	height: 100px;
	width: 100px;
	cursor: none;
    outline: none;
	transition: 0.3s;
visibility: hidden;
}
#menu_out img{

height: 100px;
width: 100px;
}

#contenido{
	position: relative;
    background: rgb(24,24,24);
    background: linear-gradient(0deg, rgba(24,24,24,0) 0%, rgba(0,0,0,1) 100%);
	/*background-color: #181818;*/
	height: 100%;
	min-width: 90%;
	transition: 0.5s;
	
}

#contenido_2,#contenido_3,#contenido_4{
	background-color:#181818;
	height: 100%;
	min-width: 100%;
}
#contenido_5{
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	background-color:#181818;
	height: 100%;
	min-width: 90%;
}
/*complementos de contenido 5*/
#col-left{
	flex: 1;
	left: 0px;
	min-height: 100%;
	width: 50%;
	background-color:black;
}
#col-left h1{
	font-family: Roboto_Black;
	font-size:4vw;
    text-align: center;
	margin-top: 80px;
    width: 100%;
}
#col-left p{
	font-family: Roboto_Regular;
	font-size: 20px;
	margin-left: 15%;
	margin-right: 9%;
	margin-top: 60px;
}
#col-right{
	flex: 1;
	right: 0px;
	min-height: 100%;
	width: 50%;
	background-color:black;

}
/*formulario contenido 5*/
.input_box{
    margin:  0 auto;
	margin-top: 30px;
	border-radius: 8px;
	/*background-color: aquamarine;*/
	width: 80%;
}
input[type=text]{
 margin-top: 50px;
 height: 40px;
 border-style: none;
 border-radius: 5px;
	}
	#fNombre{
		width: 45%;
   float: right;
	}
	#fApellido{
		width: 45%;
     float: left;
	}
	#fCorreo {
		width: 99.3%;
	}
	#fObjetivo{
		width: 99.3%;
	}
	#Mensaje{
		width: 99.1%;
		height: 150px;
		margin-top: 50px;
		margin-bottom: 40px;
		border-style: none;
		border-radius: 5px;
		resize: vertical;
	}
	#submit{
		border-style: none;
		height: 50px;
		width: 90px;
		border-color: white;
		background-color: white;
		color: black;
	}
/************************************************************************************************************/
#boy{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: auto;
	display: block;
	max-width: 100%;

}
#studio{
	position: absolute;
	top: 33%;
	left: 52%;
	transform: translate(-50%, -50%);
	margin-top: 100px;
	height: auto;
	max-width: 95%;
	animation-name: mynewmove;
	
}

#gemder{
	position: absolute;
	background: url(../img/logo_inicio.svg);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: -70px;
	height: auto;
	max-width: 100%;
	
}
#footer{
	text-align: center;
	min-height: 15%;
	width: 100%;
	color:#3D3D3D;
	background-color: #121212;
}
#texto_footer{
	display: inline; 
	margin-top: 40px;
	width: 70%;
}
#texto_footer h5 {
	display: inline; 
}
#languages{
	border-style: none;
	background-color: #181818;
	color:#3D3D3D;
}
